.fluentProgressBar-normal {
 	background-color: #0078d4;
  	height: 4px;
 }

.fluentProgressBar-waiting {
	background: #DB6933;
  background: -moz-linear-gradient( 90deg, rgba(255,255,255,1) 0%, rgba(223,118,68,1) 35%, rgba(219,105,51,1) 100% );
  background: -webkit-linear-gradient( 90deg, rgba(255,255,255,1) 0%, rgba(223,118,68,1) 35%, rgba(219,105,51,1) 100% );
  background: -o-linear-gradient( 90deg, rgba(255,255,255,1) 0%, rgba(223,118,68,1) 35%, rgba(219,105,51,1) 100% );
  background: -ms-linear-gradient( 90deg, rgba(255,255,255,1) 0%, rgba(223,118,68,1) 35%, rgba(219,105,51,1) 100% );
  /*
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078d4', endColorstr='#0078d4', GradientType=1 );
  */
  height: 4px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(223,118,68,1) 35%, rgba(219,105,51,1) 100%);

  left: 0;
  top: -1px;
  position: absolute;

  /*z-index: 1000;*/
  -webkit-animation: progressBarAnimation 2s linear infinite;
	animation: progressBarAnimation 2s linear infinite;
}

@keyframes progressBarAnimation {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}

/* route transitions *
.router-enter-from{
  opacity: 0;
  transform: translateX( 10px );
}
.route-enter-active{
  transition: all 0.3s ease-out;
}
.route-leave-to{
  opacity: 0;
  transform: translateX( -10px );
}
.route-leave-active{
  transition: all 0.3s ease-out;
}
/* route transitions */

/* we will explain what these classes do next! */
.slideup-enter-to {
  bottom: 0;
}

.slideup-enter-from {
  bottom: -100%;
}

.slideup-leave-to {
  bottom: -100%;
}
.slideup-leave-from {
  bottom: 0;
}

.slideup-enter-active,
.slideup-leave-active {
  transition: all 0.5s ease;
}

.slideup-enter-from,
.slideup-leave-to {
  opacity: 0;
}
